/Tugas2-BalokdanTabung/nbproject/private/
/Tugas2-BalokdanTabung/build/
/Tugas2-BalokdanTabung/dist/
/Tugas3-KalkulatorBalok/nbproject/private/
/Tugas3-KalkulatorBalok/build/
/Tugas3-KalkulatorBalok/dist/